@mixin button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 6px 28px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-normal);
  text-align: center;
  transition: all 0.2s;
  border-radius: 4px;

  &:disabled {
    cursor: default;
  }
  &.fullWidth {
    width: 100%;
  }
  .icon {
    fill: green;
    background-color: orange;
  }
}

.primary {
  @include button;
  color: var(--color-white);
  height: 36px;
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &.fullWidth {
    width: 100%;
  }

  &:focus-visible {
  }

  &:active {
  }

  svg {
    fill: var(--color-white);
  }

  &:disabled {
    .icon {
      path {
        fill: var(--color-light-900);
      }
    }
  }
}

.ghost {
  @include button;
  height: 36px;
  color: var(--color-black);
  background: none;
  border: 1px solid var(--color-gray-light);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);

    svg {
      fill: var(--color-white);
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &:focus-visible {
  }

  &:active {
  }

  &:disabled {
  }

  svg {
    fill: var(--color-black);
  }
}

.arrow {
  display: flex;
  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: all 0.2s;
}
