.title {
  color: var(--color-primary);
  display: flex;
  align-items: start;
  gap: 6px;
  margin-bottom: 20px;

  .owlIcon {
    fill: var(--color-primary);
  }

  .titleOwl {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
  }

  .titleTop {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-light);
  }
}

.textField {
  margin-bottom: 29px;
}


