.large {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.h1 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-l);
}

.h2 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m);
}

.h3 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m);
}

.body1 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-s);
}

.body2 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-s);
}

.subtitle {

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m);
}
