* {
  all: unset;
  display: revert;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color: var(--color-black);
  background: var(--color-white);
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}



:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-primary: #7754fd;
  --color-primary-hover: #684adc;
  --color-red: rgb(255, 0, 0);
  --color-green: rgb(69, 180, 0);
  --color-green-light: rgb(144, 210, 104);
  --color-gray-light: #ebebeb;

  --font-family: "Noto Sans", sans-serif;

  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 26px;

  --line-height-s: 22px;
  --line-height-m: 24px;
  --line-height-l: 29px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
}
