html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color: var(--color-black);
  background: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-primary: #7754fd;
  --color-primary-hover: #684adc;
  --color-red: rgb(255, 0, 0);
  --color-green: rgb(69, 180, 0);
  --color-green-light: rgb(144, 210, 104);
  --color-gray-light: #ebebeb;

  --font-family: "Noto Sans", sans-serif;

  --font-size-s: 20px;
  --font-size-m: 22px;
  --font-size-l: 26px;

  --line-height-s: 27px;
  --line-height-m: 30px;
  --line-height-l: 35px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
}
