.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto 282px minmax(320px, 1200px) auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". header header ."
    ". sidebar body ."
    ". footer footer .";
  background-color: var(--color-bg);
}

.header {
  grid-area: header;
  display: none;
  background-color: #7754fd;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
  padding-top: 34px;
  padding-left: 34px;
}

.body {
  grid-area: body;
  background-color: aquamarine;
  padding-top: 34px;
}


@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
    "header"
    "body"
    "footer";
  }

  .sidebar {
    display: none;
  }

  .header {
    display: block;
  }
}


