.title {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;


  .titleText {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    margin-top: 15px;
  }

  .titleNumber {
    font-size: var(--font-size-s);
    margin-left: 19px;
    color: var(--color-white);
    height: 25px;
    display: inline-flex;
    justify-content: center;
    width: 37px;
    align-items: center;
    background-color: var(--color-gray);
    border-radius: 25px;
  }

  .titleRating {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    margin-right: 43px;
  }

  .titlePrice {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
  }
}
