.footer {
  display: grid;
  background-color: var(--color-primary);
  color: var(--color-white);
  grid-template-columns: 1fr auto auto;
  padding: 25px 32px;
  gap: 10px 30px;

  @media (max-width: 865px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.p {
  cursor: pointer;

  &:hover {
    color: var(--color-gray-light)
  }
}
